<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://naquyong.oss-cn-hangzhou.aliyuncs.com/naquyong.ipa?Expires=1543821045&OSSAccessKeyId=TMP.AQE9_o07dYcBtSOM5rOvYSW6keDMYWNzmmhXDcdjULnLW0B5Mw6EcZrLEVm6ADAtAhRza8-Blrk3k9JN72OtMP6jIKF6egIVAI__JXhR7omg9NXxPoLKyhF7mm0C&Signature=QpNxp6%2FKZOAsSWGwDDf%2Ba73ltEo%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://naquyong.oss-cn-hangzhou.aliyuncs.com/512.png?Expires=1543821073&OSSAccessKeyId=TMP.AQE9_o07dYcBtSOM5rOvYSW6keDMYWNzmmhXDcdjULnLW0B5Mw6EcZrLEVm6ADAtAhRza8-Blrk3k9JN72OtMP6jIKF6egIVAI__JXhR7omg9NXxPoLKyhF7mm0C&Signature=WzqzyRcUnROoQ01XXrhbu0ud32E%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://naquyong.oss-cn-hangzhou.aliyuncs.com/57.png?Expires=1543821089&OSSAccessKeyId=TMP.AQE9_o07dYcBtSOM5rOvYSW6keDMYWNzmmhXDcdjULnLW0B5Mw6EcZrLEVm6ADAtAhRza8-Blrk3k9JN72OtMP6jIKF6egIVAI__JXhR7omg9NXxPoLKyhF7mm0C&Signature=rOcxB%2F66t7FVtgbFqEhFXKYmIZg%3D</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.naquyong.wallet</string>
				<key>bundle-version</key>
				<string>1.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>App(副标题)</string>
				<key>title</key>
				<string>拿去用</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
